*{
    font-family: "Roboto", Arial;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

h3 {
    font-weight: 900;
    margin-bottom: 50px;
    margin-inline: 15%;
    font-size: 24px;
}

a {
    font-size: 18px;
    margin: 10px;
    color: #E5E7EB;
}


body {
    display: flex;
    flex-direction: column;
}

.header-container, .hero-container{
    background-color: #1F2937;
    padding-inline: 20%;
}

.info-container { 
    padding-inline: 20%;
    background-color: #F9FAF8;
}


.header-container, div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-container {
    display: flex;
    padding: 5%;
    justify-content: center;
    gap: 10%;
}

.hero-info {
    display: flex;
    flex-direction: column;
    width: 25%;
    color: #E5E7EB;
}

.cta-btn{
    align-self: baseline;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 12px;
    border-style: none;
    background-color: #3882F6;

    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
}

.info-container, .infoHeader-text{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 36px;
    color: #1F2937;
    background-color: #F9FAF8;
}

.imageInfo-box{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin: 30px;
}

.imageInfo-box > img{
    border-style: solid;
    border-width: 5px;
    border-radius: 26px;
    border-color: #3882F6;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-block: 5%;
    padding-inline: 20%;
    background-color: #E5E7EB;
}

.quoteText{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.cta-container {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-block: 5%;
    padding: 2%;
    border-radius: 12px;
    width: 60%;
    color: #E5E7EB;

    background-color: #3882F6;
}

.cta-container > div, h3 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-bottom: 0;
}

.cta-container > div > button {
    background-color: #3882F6;
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: #F9FAF8;

    font-size: 24px;
    font-weight: 900;
    padding-inline: 20px;
    padding-block: 10px;
    color: #F9FAF8;
}

.footer-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #1F2937;
}